@{
  Layout = "_Layout";
}

@using PierreBakery.Models;
@model IEnumerable<PierreBakery.Models.Kind>

<h1>Bakery Kinds Available for @User.Identity.Name</h1>

@if (!@Model.Any())
{
  <h3>No kind has yet been added.</h3>
}

@foreach (Kind kind in Model)
{
  <li>@Html.ActionLink($"{kind.KindId}", "Details", new { id = kind.KindId })</li>
}

<p>@Html.ActionLink("Add new kind", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>
